In [1]:
# !pip install opendatasets

In [2]:
import opendatasets as od

od.download('https://www.kaggle.com/datasets/amanbarthwal/imdb-movies-data')

Skipping, found downloaded files in ".\imdb-movies-data" (use force=True to force download)

In [3]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('imdb-movies-data/imdb-movies-dataset.csv')

In [5]:
pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',None)
pd.set_option('display.max_colwidth',None)

In [6]:
df.shape

(10000, 15)

In [7]:
df.isnull().sum()

Poster               0
Title                0
Year               150
Certificate       2630
Duration (min)     336
Genre                7
Rating             404
Metascore         2445
Director             5
Cast                39
Votes              404
Description          0
Review Count         1
Review Title       517
Review             516
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Poster          10000 non-null  object
 1   Title           10000 non-null  object
 2   Year            9850 non-null   float64
 3   Certificate     7370 non-null   object
 4   Duration (min)  9664 non-null   float64
 5   Genre           9993 non-null   object
 6   Rating          9596 non-null   float64
 7   Metascore       7555 non-null   float64
 8   Director        9995 non-null   object
 9   Cast            9961 non-null   object
 10  Votes           9596 non-null   object
 11  Description     10000 non-null  object
 12  Review Count    9999 non-null   object
 13  Review Title    9483 non-null   object
 14  Review          9484 non-null   object
dtypes: float64(4), object(11)
memory usage: 1.1+ MB

In [9]:
movies = df[['Poster', 'Title', 'Year', 'Genre', 'Director', 'Cast', 'Description']]

In [10]:
movies.sample(2)

,Poster,Title,Year,Genre,Director,Cast,Description
4116,"https://m.media-amazon.com/images/M/MV5BOTY0OTc3OTkyNV5BMl5BanBnXkFtZTcwMTg4Nzc5MQ@@._V1_UY209_CR0,0,140,209_AL_.jpg",The Uninvited,2012.0,"Drama, Fantasy, Horror",Charles Guard,"Thomas Guard, Emily Browning, Arielle Kebbel, Elizabeth Banks, David Strathairn","Anna returns home after a stint in a mental hospital, but her recovery is jeopardized by her father's new girlfriend and ghastly visions of her dead mother."
1054,"https://m.media-amazon.com/images/M/MV5BZWQ0OTQ3ODctMmE0MS00ODc2LTg0ZTEtZWIwNTUxOGExZTQ4XkEyXkFqcGdeQXVyNzAwMjU2MTY@._V1_UX140_CR0,0,140,209_AL_.jpg",Batman,2018.0,"Action, Adventure",Tim Burton,"Michael Keaton, Jack Nicholson, Kim Basinger, Robert Wuhl","The Dark Knight of Gotham City begins his war on crime with his first major enemy being Jack Napier, a criminal who becomes the clownishly homicidal Joker."

In [11]:
movies.duplicated().sum()

0

In [12]:
movies.shape

(10000, 7)

In [13]:
movies.dropna(inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_3792\3786870272.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies.dropna(inplace=True)

In [14]:
movies.shape

(9808, 7)

In [15]:
movies.reset_index(inplace=True)
movies.drop('index', axis=1, inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_3792\2231955947.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies.drop('index', axis=1, inplace=True)

In [16]:
movies.isnull().sum()

Poster         0
Title          0
Year           0
Genre          0
Director       0
Cast           0
Description    0
dtype: int64

In [17]:
def collapse(L):
    return L.replace(" ","")

movies['Cast1'] = movies['Cast'].apply(collapse)
movies['Director1'] = movies['Director'].apply(collapse)
movies['Genre1'] = movies['Genre'].apply(collapse)
# movies['Description'] = movies['Description'].apply(collapse)

C:\Users\HP\AppData\Local\Temp\ipykernel_3792\3604813517.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['Cast1'] = movies['Cast'].apply(collapse)
C:\Users\HP\AppData\Local\Temp\ipykernel_3792\3604813517.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['Director1'] = movies['Director'].apply(collapse)
C:\Users\HP\AppData\Local\Temp\ipykernel_3792\3604813517.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['Genre1'] = movies['Genre'].apply(collapse)

In [18]:
movies.head()

,Poster,Title,Year,Genre,Director,Cast,Description,Cast1,Director1,Genre1
0,"https://m.media-amazon.com/images/M/MV5BYWRkZjJiODEtM2IwZi00ZjM1LWEyOTUtOThjMDk3YThjZDUzXkEyXkFqcGdeQXVyMTUzMTg2ODkz._V1_UY209_CR0,0,140,209_AL_.jpg",The Idea of You,2023.0,"Comedy, Drama, Romance",Michael Showalter,"Anne Hathaway, Nicholas Galitzine, Ella Rubin, Annie Mumolo","Solène, a 40-year-old single mom, begins an unexpected romance with 24-year-old Hayes Campbell, the lead singer of August Moon, the hottest boy band on the planet.","AnneHathaway,NicholasGalitzine,EllaRubin,AnnieMumolo",MichaelShowalter,"Comedy,Drama,Romance"
1,"https://m.media-amazon.com/images/M/MV5BZGI4NTEwNTAtZDcwMi00MDkxLTg1OGYtNTZmMzE3ZDljNzVlXkEyXkFqcGdeQXVyMTEyMjM2NDc2._V1_UY209_CR0,0,140,209_AL_.jpg",Kingdom of the Planet of the Apes,2023.0,"Action, Adventure, Sci-Fi",Wes Ball,"Owen Teague, Freya Allan, Kevin Durand, Peter Macon","Many years after the reign of Caesar, a young ape goes on a journey that will lead him to question everything he's been taught about the past and make choices that will define a future for apes and humans alike.","OwenTeague,FreyaAllan,KevinDurand,PeterMacon",WesBall,"Action,Adventure,Sci-Fi"
2,"https://m.media-amazon.com/images/M/MV5BZjIyOTBmNzEtY2YxNC00YzgyLTgxZGYtOWM4NTYwNmZkNzA1XkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_UY209_CR0,0,140,209_AL_.jpg",Unfrosted,2023.0,"Biography, Comedy, History",Jerry Seinfeld,"Isaac Bae, Jerry Seinfeld, Chris Rickett, Rachael Harris","In 1963 Michigan, business rivals Kellogg's and Post compete to create a cake that could change breakfast forever.","IsaacBae,JerrySeinfeld,ChrisRickett,RachaelHarris",JerrySeinfeld,"Biography,Comedy,History"
3,"https://m.media-amazon.com/images/M/MV5BMjA5ZjA3ZjMtMzg2ZC00ZDc4LTk3MTctYTE1ZTUzZDIzMjQyXkEyXkFqcGdeQXVyMTM1NjM2ODg1._V1_UX140_CR0,0,140,209_AL_.jpg",The Fall Guy,2023.0,"Action, Comedy, Drama",David Leitch,"Ryan Gosling, Emily Blunt, Aaron Taylor-Johnson, Hannah Waddingham",A down-and-out stuntman must find the missing star of his ex-girlfriend's blockbuster film.,"RyanGosling,EmilyBlunt,AaronTaylor-Johnson,HannahWaddingham",DavidLeitch,"Action,Comedy,Drama"
4,"https://m.media-amazon.com/images/M/MV5BNTk1MTdmYzctNzlkOS00ZTNmLWI4ZTMtMzc3OWFkMDI0MTJkXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_UY209_CR0,0,140,209_AL_.jpg",Challengers,2023.0,"Drama, Romance, Sport",Luca Guadagnino,"Zendaya, Mike Faist, Josh O'Connor, Darnell Appling","Tashi, a former tennis prodigy turned coach, turned her husband into a champion. But to overcome a losing streak, he needs to face his ex-best friend and Tashi's ex-boyfriend.","Zendaya,MikeFaist,JoshO'Connor,DarnellAppling",LucaGuadagnino,"Drama,Romance,Sport"

In [19]:
movies['tags'] = movies['Description'] + movies['Genre'] + movies['Director'] + movies['Cast']

C:\Users\HP\AppData\Local\Temp\ipykernel_3792\3949564977.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['tags'] = movies['Description'] + movies['Genre'] + movies['Director'] + movies['Cast']

In [20]:
movies.drop(columns=['Description','Genre1','Director1','Cast1'], inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_3792\445373756.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies.drop(columns=['Description','Genre1','Director1','Cast1'], inplace=True)

In [21]:
movies.sample()

,Poster,Title,Year,Genre,Director,Cast,tags
4028,"https://m.media-amazon.com/images/M/MV5BZTQ0MDZhZTgtMDU2ZC00ZTA2LTliNjEtMjAxNmUxZjZkYzIyXkEyXkFqcGdeQXVyMTUzMDUzNTI3._V1_UX140_CR0,0,140,209_AL_.jpg",Bad Boys,1996.0,"Crime, Drama, Thriller",Rick Rosenthal,"Sean Penn, Reni Santoni, Jim Moody, Eric Gurry","Chicago crime kid Mick O'Brien is sent to reform school after accidentally killing a rival's kid brother.Crime, Drama, ThrillerRick RosenthalSean Penn, Reni Santoni, Jim Moody, Eric Gurry"

In [22]:
import nltk
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet

nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [23]:
lemmatizer = WordNetLemmatizer()

movies['tags'] = movies['tags'].apply(lambda x:lemmatizer.lemmatize(x, pos='v'))

C:\Users\HP\AppData\Local\Temp\ipykernel_3792\2720284441.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['tags'] = movies['tags'].apply(lambda x:lemmatizer.lemmatize(x, pos='v'))

In [24]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer()

feature_vectors = vectorizer.fit_transform(movies['tags'])

In [25]:
feature_vectors.shape

(9808, 46586)

In [26]:
from sklearn.metrics.pairwise import cosine_similarity

similarity = cosine_similarity(feature_vectors)

In [27]:
similarity.shape

(9808, 9808)

In [28]:
def recommend(movie):
    index = movies[movies['Title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(movies.loc[i[0]].Title)
        print(movies.loc[i[0]].Poster)

In [29]:
recommend('Iron Man')

Iron Man 2
https://m.media-amazon.com/images/M/MV5BZGVkNDAyM2EtYzYxYy00ZWUxLTgwMjgtY2VmODE5OTk3N2M5XkEyXkFqcGdeQXVyNTgzMDMzMTg@._V1_UY209_CR1,0,140,209_AL_.jpg
Iron Man Three
https://m.media-amazon.com/images/M/MV5BMjE5MzcyNjk1M15BMl5BanBnXkFtZTcwMjQ4MjcxOQ@@._V1_UY209_CR3,0,140,209_AL_.jpg
Avengers: Age of Ultron
https://m.media-amazon.com/images/M/MV5BMTM4OGJmNWMtOTM4Ni00NTE3LTg3MDItZmQxYjc4N2JhNmUxXkEyXkFqcGdeQXVyNTgzMDMzMTg@._V1_UY209_CR0,0,140,209_AL_.jpg
The Vikings
https://m.media-amazon.com/images/M/MV5BMzNkYmEwZWYtN2NhYy00NDcwLWI3OTctZTlmOGE1OTU3OWU3XkEyXkFqcGdeQXVyNjc5NjEzNA@@._V1_UX140_CR0,0,140,209_AL_.jpg
Spider-Man: Homecoming
https://m.media-amazon.com/images/M/MV5BODY2MTAzOTQ4M15BMl5BanBnXkFtZTgwNzg5MTE0MjI@._V1_UY209_CR0,0,140,209_AL_.jpg

In [30]:
movies[movies['Title'] == 'Avatar 3']

,Poster,Title,Year,Genre,Director,Cast,tags
3746,"https://m.media-amazon.com/images/M/MV5BNmM1NmY4N2QtNmVkOS00MjMyLWI5ZGUtYWYxMDRjY2MzNDdiXkEyXkFqcGdeQXVyMTAwMDAwMA@@._V1_UY209_CR34,0,140,209_AL_.jpg",Avatar 3,2021.0,"Action, Adventure, Fantasy",James Cameron,"Michelle Yeoh, Zoe Saldana, Sigourney Weaver, Stephen Lang","Sequel ofAvatar: The Way of Water(2022). The plot is unknown.Action, Adventure, FantasyJames CameronMichelle Yeoh, Zoe Saldana, Sigourney Weaver, Stephen Lang"

In [38]:
similarity.getfield(dtype='float32').shape

(9808, 9808)

In [39]:
import joblib

joblib.dump(movies, open('movies.joblib', 'wb'))
joblib.dump(similarity, 'similarity.joblib', compress=('gzip', 9))

['similarity.joblib']